/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
/* colours */
$light-blue: #82B0BF;
$dark-blue: #000051;
$light-grey: #DDD;

/* High level containers */
body {
  background-color: white;
  font: normal 12px verdana, arial, helvetica, sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}
#content {
  width: 80%;
  min-width: 650px;
  margin: 5px auto;
  min-height: 400px;
  background-color: #EEE;
  border: solid 1px $light-blue;
  border-radius: 4px;
}

#footer {
  clear: both;
  a {
    font-weight: normal;
  }
  text-align: center;
  font-size: 8pt;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: $light-blue;
  font-weight: bold;
}

/* Headings */
#header {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;

  h1#page_heading {
    font-size: 45pt;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: normal;
    letter-spacing: -5px;
    color: $dark-blue;
    a {
      border-bottom: 1px solid $light-blue;
    }
  }

  h2#sub_heading {
    margin-top: -10px;
    font-size: 24pt;
    letter-spacing: 5px;
    color: $dark-blue;
  }
}
h2 {
  font-size: 1.4em;
  color: $light-blue;
}

h2 a, h3, h4, h5 {
  color: #333333;
}

/* Text */
p {
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}

strong {
  color: #333333;
}
/* Links */
.openid {
  background-image: image-url("openid_icon.png");
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}

a {
  color: $dark-blue;

  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: solid 1px black;
}

#search {
  width: 100%;
  padding: 10px 0;
  
  h2 {
    display: inline;
    padding-right: 10px;
  }

  input {
    border: solid 1px $light-grey;
    font-size: 16px;
    width: 200px;
    border-radius: 4px;
  }

  form {
    float: right;
    margin-right: 40px;
  }
}

/* Two columns */
#navigation {
  width: 20%;
  text-align: right;
  border-top: 3px solid $light-blue;
  padding-top: 20px;
  float: right;
  margin-right: 40px;

  h2 {
    display: inline;
  }

  label {
    margin-left: 0;
    font-style: normal;
  }

  ul {
    padding-left: 10px;
    
    margin-left: 0px;
    margin-top: 0px;
    list-style: none;
  }

  ul li {
    padding-left: 0px;
    margin-left: 0px;
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: verdana,arial,helvetica,sans-serif;
  }
}

#main {
  width: 65%;
  margin-left: 40px;
  
  border-top: 3px solid $light-blue;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 40px;
  h2 {
    font-size: 20px;
    a {
      color: $dark-blue;
      border-bottom: none;
    }
  }
}

div.meta {
  margin-top: 1em;
  padding-bottom: 20px;
  border-bottom: 1px solid $light-grey;
}
/* Formatting */

.meta ul {
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 0.5em;
  display: inline;
  color: $light-blue;
  font-size: 9pt;
}
.archive-month .tags {
  color: #bbbbbb;
}

a {
  color: $dark-blue;
  border-bottom: dotted 1px $dark-blue;
}

a:hover {
  text-decoration: none;
}

.meta ul li {
  display: inline;
}

.meta ul li:after {
  content: " | ";
}

.meta ul li:last-child:after {
  content: "";
}

h2 {
  margin-bottom: 0px;
}

.separator {
  height: 1px;
  margin-top:5px;
  clear: both;
}

/* Forms */
label {
  margin-left: 1em;
}

textarea, select {
  font: normal 13px verdana, arial, helvetica, sans-serif;
}

textarea {
  width: 500px;
}

#project_summary {
  height: 150px;
}

#new_comment textarea, #edit_comment textarea {
  height: 150px;
  border: solid 1px $light-grey;  
}

#comment_author {
  border: solid 1px $light-grey;
  line-height: 1.5em;
  width: 200px;
}

cite {
  color: $light-blue;
}

.alt, .container_alt {
  background-color: #fafafa;
}

div.date {
	color: #999;
	font-size: .8em;
}

div.comments div.body {
  padding: 5px;
}

div.comments div.meta {
  min-height: 0px;
  padding: 0px;
}

div.comments div.separator {
  height: 10px;
}

div.errors {
  border: solid 1px red;
  background-color: #ffcccc;
  padding: 5px;
  padding-left: 10px;
  width: 485px;
}

div.errors h3 {
  font-size: 1.0em;
}

.fieldWithErrors {
  display: inline;
}

span.error {
  font-weight: bold;
  }

hr {
  border-top: dotted 1px $light-blue;
  border-bottom: none;
  height: 1px;
}

#preview {
  height: 200px;
  overflow: auto;
}

.related {
  background-color: #f8f8f8;
  border: 1px solid $light-grey;
  padding: 10px;
}

/* Syntax */


/* TOC */
fieldset.toc {
  float: right;
  border: dotted 1px black;
  background-color: #fafafa;
  padding: 10px;
  margin-left: 5px;
}

.toc legend {
  font-weight: bold;
}

.toc ol {
  margin: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.toc ol ol {
  list-style-type: lower-alpha;
  padding-left: 15px;
}

pre.ruby .keyword { color: #c41f1f; }
pre.ruby .constant { color: #961818; }
pre.ruby .comment { color: #f37e00; }
pre.ruby .string { color: #b77c0a; }

/* CODERAY */
.CodeRay {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #100;
  margin-bottom: 1em;
}
.CodeRay pre { margin: 0px; font-size: 12px }

div.CodeRay { }

span.CodeRay { white-space: pre; border: 0px; padding: 2px }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td { padding: 2px 4px; vertical-align: top }

.CodeRay .line_numbers, .CodeRay .no {
  background-color: #eaeaea;
  color: gray;
  text-align: right;
}
.CodeRay .line_numbers tt { font-weight: bold }
.CodeRay .no { padding: 0px 4px }
.CodeRay .code { width: 100% }

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay .code pre { overflow: auto }
.af { color:#00C }
.an { color:#007 }
.av { color:#700 }
.aw { color:#C00 }
.bi { color:#509; font-weight:bold }
.c  { color:#888 }

.ch { color:#04D }
.ch .k { color:#04D }
.ch .dl { color:#039 }

.cl { color:#B06; font-weight:bold }
.co { color:#036; font-weight:bold }
.cr { color:#0A0 }
.cv { color:#369 }
.df { color:#099; font-weight:bold }
.di { color:#088; font-weight:bold }
.dl { color:black }
.do { color:#970 }
.ds { color:#D42; font-weight:bold }
.e  { color:#666; font-weight:bold }
.en { color:#800; font-weight:bold }
.er { color:#F00; background-color:#FAA }
.ex { color:#F00; font-weight:bold }
.fl { color:#60E; font-weight:bold }
.fu { color:#06B; font-weight:bold }
.gv { color:#d70; font-weight:bold }
.hx { color:#058; font-weight:bold }
.i  { color:#00D; font-weight:bold }
.ic { color:#B44; font-weight:bold }

.il { background: #eee }
.il .il { background: #ddd }
.il .il .il { background: #ccc }
.il .dl { font-weight: bold ! important; color: #888 ! important }

.in { color:#B2B; font-weight:bold }
.iv { color:#33B }
.la { color:#970; font-weight:bold }
.lv { color:#963 }
.oc { color:#40E; font-weight:bold }
.on { color:#000; font-weight:bold }
.op { }
.pc { color:#038; font-weight:bold }
.pd { color:#369; font-weight:bold }
.pp { color:#579 }
.pt { color:#339; font-weight:bold }
.r  { color:#080; font-weight:bold }

.rx { background-color:#fff0ff }
.rx .k { color:#808 }
.rx .dl { color:#404 }
.rx .mod { color:#C2C }
.rx .fu  { color:#404; font-weight: bold }

.s  { background-color:#fff0f0 }
.s  .s { background-color:#ffe0e0 }
.s  .s  .s { background-color:#ffd0d0 }
.s  .k { color:#D20 }
.s  .dl { color:#710 }

.sh { background-color:#f0fff0 }
.sh .k { color:#2B2 }
.sh .dl { color:#161 }

.sy { color:#A60 }
.sy .k { color:#A60 }
.sy .dl { color:#630 }

.ta { color:#070 }
.tf { color:#070; font-weight:bold }
.ts { color:#D70; font-weight:bold }
.ty { color:#339; font-weight:bold }
.v  { color:#036 }
.xt { color:#444 }
